// cta = call__to__action section
.cta {
    position: relative;
    top: 236px;

    .cta__descr {
        margin-top: 35px;
    }

    @include mQ(680px) {
        top: 584px;
        padding-top: 72px;

        &::before {
            position: absolute;
            width: 378px;
            height: 320px;
            background-color: #ededed;
            top: -64px;
            left: 0;
            content: "";
            border-radius: 0px 50px 0 0;
        }

        &::after {
            position: absolute;
            top: 35px;
            left: 39px;
            content: url("../assets/images/patterns/pattern-lines.svg");

        }

    }

    @include mQ(1080px) {
        top: 324px;
        padding: 0 130px;
    }

    @include mQ(1280px) {
        top: 126px;
        display: flex;
        justify-content: space-between;
    }

    @include mQ(1440px) {
        padding: 0 165px;
    }

}

// *******************************************//
.cta__descr {
    margin-top: 36px;

    @include mQ(1080px) {
        display: flex;
        flex-direction: column-reverse;
    }
}

//^^^^^^^^^^^^^^^^^^js changed code - ^^^^^^^^^^^^^^^^^^^^^^^^
// styling buttons that change text and images^^^^^^^^^^^^^^^^^//

.ctaBtnSecondary {
    position: relative;
    color: #979797;
    font-size: calculateRem(14);
    line-height: 28px;
    border: none;
    outline: none;
    padding: 10px;
    font-weight: 800;

    &:hover {
        color: $dark-tx;
        cursor: pointer;
    }

    &:focus {
        color: #242b37;

        &::before {
            position: absolute;
            content: "";
            width: 100px;
            height: 3px;
            background-color: #242b37;
            top: 40px;
            left: 30%;
        }
    }

    @include mQ(1080px) {
        text-align: left;

        &:focus {
            &::before {
                left: 16%;
            }
        }
    }
}

.cta__descr__hero__cat {
    padding: 0 12px;
}

.cta__descr__hero__cat__title {
    @include cardHeadings;
    padding-top: 12px;
    color: #242b37;
}

.cta__descr__hero__cat__summary {
    @include cardDescriptions;
    color: #242b37;
}

// dark button and white text
.ctaBtnPrimary {
    background-color: $dark-bg;
    margin-top: 30px;

    &:hover {
        background-color: $white-bg;
        color: $dark-tx;
        border: 2px solid $dark-bg;
        cursor: pointer;
    }
    @include mQ(680px) {
       // width: 90%;
    }

    @include mQ(1280px) {
        margin-left: 12px;
    }
}

.cta__descr__hero {
    position: relative;
    padding-bottom: 50px;
}

.cta__events__img {
    position: relative;
}

.cta__descr__list__items {
    @include mQ(680px) {
        display: flex;
        justify-content: center;
    }

    @include mQ(1280px) {
        flex-direction: column;
    }
}
// hide the images and text that are not in view
// select images and text come into view when one
// of the 3 buttons has been clicked
.ctaHide {
    visibility: hidden;
    position: absolute;
    top: 0;    
}

.cta__img img {
    box-shadow: 0px 20px 20px 0px grey;
}