.cards__section {
    position: relative;
    top: 148px;
    @include mQ(680px) {
        top: 321px;
    }

}

.card__main {
    position: relative;
    margin-top: 24px;
    padding: 0 25px;
    margin-bottom: 76px;
}

.card__main::before {
    position: relative;
    content: url("../assets/images/patterns/pattern-divide.svg");
    top: 12px;
}

.card__main__title {
    padding-top: 43px;
    font-size: calculateRem(32);
    font-weight: 800;
    letter-spacing: -0.4px;
    line-height: 40px;
    margin-bottom: 20px;
    @include mQ(680px) {
        max-width: 24rem;
        margin: 20px auto;
    }

}
.card__main__descr {
	line-height: 25px;
	letter-spacing: -0.19px;
    font-size: calculateRem(15);
    @include mQ(680px) {
        max-width: 24rem;
        margin: auto;
    }
}
.card__img {
    box-shadow: 0px 38px 20px 17px #ededed;
}