.menu__section {
    top: 150px;
    position: relative;
    background-color: $dark-bg;
    color: $white-tx;
    padding: 62px 24px;

    &::before {
        position: relative;
        content: url('../assets/images/patterns/pattern-divide.svg')
    }

    @include mQ(680px) {
        top: 315px;
        margin-bottom: -202px;

        &::before {
            top: 12px;
        }
    }

    @include mQ(1080px) {
        display: flex;
        top: 58px;
        padding: 145px 125px;
    }

    @include mQ(1440px) {
        top: -140px;
        padding: 185px 165px;
    }

}

.menu__headings {
    @include mQ(1440px) {
        margin-left: -75px;
    }
}

.menu__headings__title {
    @include cardHeadings;

    @include mQ(680px) {
        margin: 15px auto 62px;
    }
}

.menu__headings__descr {
    @include cardDescriptions;
}

.menu__cards {
    margin-top: 60px;

    @include mQ(680px) {
        margin-top: 35px;
    }
}

.menuTitle {
    font-size: calculateRem(18);

    @include mQ(680px) {
        margin: 2px auto 10px;
    }

}

.cardShadow {
    box-shadow: none;

    img {
        max-width: 100%;
    }
}

// 
.hideBefore {
    top: -45px;
    margin-bottom: -8px;

    &::before {
        content: "";
    }

}

.cardMenu {
    position: relative;
/*
    &::after {
        content: "";
        width: 100%;
        position: absolute;
        height: 1px;
        background-color: $lt-grey-bg;
        left: 0;
        bottom: 31px;
    }
*/
    @include mQ(680px) {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 97px;
        /*
        &::after {
            width: 80%;
            left: 13%;
            bottom: 10px;
        }
        */
    }

    @include mQ(1080px) {
        margin-bottom: 60px;

        /*z-index: 5;
        &::after {
            width: 80%;
            left: auto;
            bottom: -30px;
        }
        */

        &::before {
            content: url('../assets/images/patterns/pattern-divide.svg');
            position: absolute;
            top: 40px;
            left: 250px;
            z-index: -1;
        }

    }
}