.main__component {
    position: relative;

    @include mQ(1080px) {
        margin-bottom: 91px;

        &::before {
            position: absolute;
            content: "";
            width: 69vw;
            height: 320px;
            left: 0;
            top: 175px;
            background-color: $lt-grey-bg;
            border-radius: 0px 0 120px 0;
        }

        &::after {
            position: absolute;
            content: url("../assets/images/patterns/pattern-lines.svg");
            top: 256px;
            z-index: 1;
            right: 48%;
        }
    }
}

.reservation {
    position: relative;
}

.secondaryHeader {
    background-image: url("../assets/images/booking/hero-bg-mobile.jpg");
    min-height: 600px;

    .hero__main {
        background-color: transparent;
        top: 45px;
    }

    .hero__main__title {
        margin-top: 25px;
    }

    .hero__main__descr {
        margin: 17px auto 26px;
    }

    @include mQ(680PX) {
        .hero__main__logo {
            margin-left: 17px;
            display: block;
        }

        .hero__main__title {
            margin-top: 60px;
        }

        .hero__main__descr {
            max-width: 35rem;
            margin-bottom: 90px;
        }
    }

    @include mQ(1080PX) {
        .hero__main {
            background-image: linear-gradient(to right, transparent 55%, transparent 50%);
        }

        .hero__main__descr {
            margin: 24px 0 45px;
            max-width: 28rem;
        }
        .hero__main__btncontainer {
            visibility: hidden;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    padding: 24px;
    position: relative;
    top: -146px;
    background: white;
    width: 74%;
    max-width: 545px;
    margin: 10px auto -74px;
    box-shadow: 1px 1px 14px 2px gray;
    border-radius: 4px;
    overflow-x: hidden;
    z-index: 2;

    .details {
        position: relative;
        margin: 1rem auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .input__label {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        font-size: calculateRem(12);
        position: absolute;
        top: -18px;
        left: 24px;
        font-family: 'Spartan', sans-serif;
    }

    .form__inputs {
        width: 85%;
        margin: 5px auto;
        padding: 3px;
        border: none;
        border-bottom: 1px solid $lt-grey-bg;
        font-size: calculateRem(14);
        font-family: 'Spartan', sans-serif;

        &:focus+label {
            opacity: 0;
            color: red;
        }
    }

    @include mQ(680px) {
        top: -240px;
        margin: 10px auto -108px;

        .input__label {
            top: -18px;
            left: 42px;
        }
    }

    @include mQ(1080px) {
        margin: -175px 165px -540px auto;       
    }
}



select {
    border: none;
    font-size: calculateRem(18);
    -webkit-appearance: none;
    -moz-appearance: none;
    color: $lt-grey-tx;
    font-family: inherit;
    border-bottom: 1px solid black;
    padding-bottom: 12px;
}

legend {
    margin-bottom: 15px;
  //  margin-left: 15px;
    font-family: 'Spartan', sans-serif;
}

.date__container {
    display: flex;
    justify-content: space-between;
}

.time__selection {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.time__selection__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.time__selection__title {
    text-align: left;
  //  margin-left: 20px;
}

.date__picker,
.date__picker {
    width: 100%;
}

.hours,
.minutes,
.mode {
    border-bottom: 1px solid black;
    padding: 15px 0;
    text-transform: uppercase;
    color: $lt-grey-tx;
    font-family: inherit;
}

.date__selection {
    margin-bottom: 12px;
    padding: 0px 22px;
    @include mQ(680px) {
        display: flex;
        margin-top: 15px;
        flex-direction: column;
        padding: 0px 34px;
    }
}

.time__selection {
    @include mQ(680px) {
        display: flex;
    }
}


.sr__only {
    text-align: left;
    margin-left: 20px;
    margin-top: 7px;

    @include mQ(680px) {
        margin-left: 50px;
    }
}

.reserve__counter {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    padding-bottom: 24px;
    border-bottom: 1px solid $lt-grey-bg;
    width: 85%;

    @include mQ(680px) {
        justify-content: space-around;
    }
}

.count__down,
.count__up,
.counter__holder {
    background: none;
    outline: none;
    border: none;
    font-size: calculateRem(18);
}

.count__down,
.count__up {
    color: #9e7f66;
    font-weight: 800;
}

.counter__holder {
    font-weight: 800;
}

.errorMsg {
    color: red;
    margin-left: 15px;
    text-align: left;

    @include mQ(680px) {
        margin-left: 35px;
    }
}

label:focus+span {
    opacity: 0;
}


.sr__date__labels {
    position: absolute;
    left: 8000px;
}

.hours__mode {
    position: relative;
}

.form__inputs:not(:empty)+label {
    opacity: 0;
}

.longBtn {
    @include mQ(1080px) {
        width: 90%;
    }
}

.month__selector {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.errorMsgDate {
    margin-left: 0;
}