@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700;800;900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hero {
  position: relative;
  background-image: url("../assets/images/homepage/hero-bg-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}

@media screen and (min-width: 780px) {
  .hero {
    background-image: url("../assets/images/homepage/hero-bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1080PX) {
  .hero {
    background-image: url("../assets/images/homepage/hero-bg-desktop@2x.jpg");
  }
}

.hero__main {
  position: relative;
  top: 220px;
  color: #ffffff;
  background-color: #000000;
  padding: 12px 24px;
}

@media screen and (min-width: 680px) {
  .hero__main {
    top: 380px;
  }
}

@media screen and (min-width: 1080px) {
  .hero__main {
    top: 0px;
    width: 45%;
    padding-top: 65px;
    padding-left: 125px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(55%, #000000), color-stop(50%, #111111));
    background-image: linear-gradient(to right, #000000 55%, #111111 50%);
  }
}

@media screen and (min-width: 1440px) {
  .hero__main {
    padding-left: 165px;
  }
}

@media screen and (min-width: 1080px) {
  .hero__main__logo {
    margin: 0;
    display: block;
  }
}

.hero__main__btncontainer {
  padding-bottom: 145px;
}

@media screen and (min-width: 1080px) {
  .hero__main__btncontainer {
    padding-bottom: 127px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__main__btncontainer {
    padding-bottom: 189px;
  }
}

.call__to__action--btn {
  font-size: 0.875rem;
  width: 15.3125rem;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 21px;
  background-color: inherit;
  color: #ffffff;
  border: 1px solid #ffffff;
}

@media screen and (min-width: 1080px) {
  .call__to__action--btn {
    display: block;
    margin: 0;
  }
}

.hero__main__title {
  font-size: 2rem;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -0.4px;
  margin-top: 16px;
}

@media screen and (min-width: 680px) {
  .hero__main__title {
    font-size: 3rem;
    line-height: 64px;
    letter-spacing: -0.6px;
    width: 60%;
    margin: 24px auto;
  }
}

@media screen and (min-width: 1080px) {
  .hero__main__title {
    text-align: left;
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .hero__main__title {
    margin: 146px 0 45px;
    width: 75%;
  }
}

.hero__main__descr {
  font-size: 0.9375rem;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: -0.19px;
  max-width: 30rem;
  margin: 24px auto 36px;
}

@media screen and (min-width: 680px) {
  .hero__main__descr {
    font-size: 1.125rem;
    line-height: 30px;
    letter-spacing: -0.22px;
  }
}

@media screen and (min-width: 1080px) {
  .hero__main__descr {
    text-align: left;
    margin: 24px 0 45px;
  }
}

@media screen and (min-width: 1080px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 110px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    padding: 0 165px;
    margin-top: -12px;
    z-index: 20;
  }
}

.cards__section {
  position: relative;
  top: 148px;
}

@media screen and (min-width: 680px) {
  .cards__section {
    top: 321px;
  }
  .cards__section::before, .cards__section::after {
    position: absolute;
    width: 49%;
    height: 320px;
    background-color: #ededed;
    content: "";
    z-index: -1;
  }
  .cards__section::before {
    left: 0;
    top: 198px;
    border-top-right-radius: 100px;
  }
  .cards__section::after {
    bottom: -112px;
    border-top-left-radius: 70px;
  }
}

@media screen and (min-width: 1080px) {
  .cards__section {
    top: -58px;
  }
  .cards__section::before {
    top: 310px;
    width: 62%;
  }
  .cards__section::after {
    bottom: 45px;
    width: 62%;
    right: 0;
  }
}

.card__main {
  position: relative;
  margin-top: 24px;
  padding: 0 25px;
  margin-bottom: 76px;
}

.card__main::before {
  position: relative;
  content: url("../assets/images/patterns/pattern-divide.svg");
  top: 12px;
}

@media screen and (min-width: 680px) {
  .card__main {
    margin-bottom: 120px;
  }
  .card__main::before {
    top: 24px;
  }
}

@media screen and (min-width: 1080px) {
  .card__main {
    padding: 0 61px;
  }
  .card__main::before {
    left: 61px;
    position: absolute;
  }
}

@media screen and (min-width: 1080px) {
  .card__main::before {
    top: 132px;
  }
}

.card__main__title {
  padding-top: 32px;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -0.4px;
  line-height: 40px;
  margin-bottom: 20px;
}

@media screen and (min-width: 680px) {
  .card__main__title {
    margin: 27px auto 66px;
    max-width: 20rem;
  }
}

@media screen and (min-width: 1080px) {
  .card__main__title {
    text-align: left;
    margin-left: 0;
    margin-top: 120px;
  }
}

@media screen and (min-width: 1440px) {
  .card__main__title {
    margin-top: 70px;
  }
}

.card__main__descr {
  line-height: 25px;
  letter-spacing: -0.19px;
  font-size: 0.9375rem;
}

@media screen and (min-width: 680px) {
  .card__main__descr {
    max-width: 24rem;
    margin: auto;
  }
}

@media screen and (min-width: 1080px) {
  .card__main__descr {
    text-align: left;
    margin-left: 0;
  }
}

.card__img {
  -webkit-box-shadow: 0px 38px 20px 17px #ededed;
          box-shadow: 0px 38px 20px 17px #ededed;
}

.card__img img {
  max-width: 100%;
}

@media screen and (min-width: 1080px) {
  .card__img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media screen and (min-width: 680px) {
  .imageStyle {
    position: relative;
  }
  .imageStyle::before {
    top: 228px;
    position: absolute;
    right: 40px;
    content: url("../assets/images/patterns/pattern-lines.svg");
  }
}

@media screen and (min-width: 1080px) {
  .imageStyle {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1440px) {
  .imageStyle {
    margin-top: 118px;
  }
}

.menu__section {
  top: 150px;
  position: relative;
  background-color: #111111;
  color: #ffffff;
  padding: 62px 24px;
}

.menu__section::before {
  position: relative;
  content: url("../assets/images/patterns/pattern-divide.svg");
}

@media screen and (min-width: 680px) {
  .menu__section {
    top: 315px;
    margin-bottom: -202px;
  }
  .menu__section::before {
    top: 27px;
  }
}

@media screen and (min-width: 1080px) {
  .menu__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 58px;
    padding: 145px 125px;
  }
}

@media screen and (min-width: 1440px) {
  .menu__section {
    top: -140px;
    padding: 185px 165px;
  }
}

@media screen and (min-width: 1440px) {
  .menu__headings {
    margin-left: -75px;
  }
}

.menu__headings__title {
  padding-top: 32px;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -0.4px;
  line-height: 40px;
  margin-bottom: 20px;
}

@media screen and (min-width: 680px) {
  .menu__headings__title {
    margin: 27px auto 66px;
    max-width: 20rem;
  }
}

@media screen and (min-width: 1080px) {
  .menu__headings__title {
    text-align: left;
    margin-left: 0;
    margin-top: 120px;
  }
}

@media screen and (min-width: 1440px) {
  .menu__headings__title {
    margin-top: 70px;
  }
}

.menu__headings__descr {
  line-height: 25px;
  letter-spacing: -0.19px;
  font-size: 0.9375rem;
}

@media screen and (min-width: 680px) {
  .menu__headings__descr {
    max-width: 24rem;
    margin: auto;
  }
}

@media screen and (min-width: 1080px) {
  .menu__headings__descr {
    text-align: left;
    margin-left: 0;
  }
}

.menu__cards {
  margin-top: 60px;
}

@media screen and (min-width: 680px) {
  .menu__cards {
    margin-top: 26px;
  }
}

.menuTitle {
  font-size: 1.125rem;
}

@media screen and (min-width: 680px) {
  .menuTitle {
    margin: 2px auto 10px;
  }
}

.cardShadow {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cardShadow img {
  max-width: 100%;
}

.hideBefore {
  top: -45px;
  margin-bottom: -8px;
}

.hideBefore::before {
  content: "";
}

.cardMenu {
  position: relative;
}

.cardMenu::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  background-color: #979797;
  left: 0;
  bottom: 31px;
}

@media screen and (min-width: 680px) {
  .cardMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 97px;
  }
}

@media screen and (min-width: 1080px) {
  .cardMenu {
    margin-bottom: 60px;
  }
  .cardMenu::after {
    width: 80%;
    left: auto;
    bottom: -30px;
  }
  .cardMenu::before {
    content: url("../assets/images/patterns/pattern-divide.svg");
    position: absolute;
    top: 40px;
    left: 250px;
    z-index: -1;
  }
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 16px;
}

.cta {
  position: relative;
  top: 200px;
}

.cta .cta__descr {
  margin-top: 35px;
}

@media screen and (min-width: 680px) {
  .cta {
    top: 550px;
  }
}

@media screen and (min-width: 1080px) {
  .cta {
    top: 300px;
  }
}

.cta__descr {
  margin-top: 36px;
}

.ctaBtnSecondary {
  position: relative;
  color: #979797;
  font-size: 0.875rem;
  line-height: 28px;
  border: none;
  outline: none;
  padding: 10px;
  font-weight: 800;
}

.ctaBtnSecondary:hover {
  color: #111111;
  cursor: pointer;
}

.ctaBtnSecondary:focus {
  color: #242b37;
}

.ctaBtnSecondary:focus::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background-color: #242b37;
  top: 40px;
  left: 30%;
}

.cta__descr__hero__cat {
  padding: 0 12px;
}

.cta__descr__hero__cat__title {
  padding-top: 32px;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -0.4px;
  line-height: 40px;
  margin-bottom: 20px;
  padding-top: 12px;
  color: #242b37;
}

@media screen and (min-width: 680px) {
  .cta__descr__hero__cat__title {
    margin: 27px auto 66px;
    max-width: 20rem;
  }
}

@media screen and (min-width: 1080px) {
  .cta__descr__hero__cat__title {
    text-align: left;
    margin-left: 0;
    margin-top: 120px;
  }
}

@media screen and (min-width: 1440px) {
  .cta__descr__hero__cat__title {
    margin-top: 70px;
  }
}

.cta__descr__hero__cat__summary {
  line-height: 25px;
  letter-spacing: -0.19px;
  font-size: 0.9375rem;
  color: #242b37;
}

@media screen and (min-width: 680px) {
  .cta__descr__hero__cat__summary {
    max-width: 24rem;
    margin: auto;
  }
}

@media screen and (min-width: 1080px) {
  .cta__descr__hero__cat__summary {
    text-align: left;
    margin-left: 0;
  }
}

.ctaBtnPrimary {
  background-color: black;
  margin-top: 30px;
}

.cta__descr__hero {
  position: relative;
}

.ctaHide {
  visibility: hidden;
  position: absolute;
  top: 0;
}

.cta__img img {
  -webkit-box-shadow: 0px 20px 20px 0px grey;
          box-shadow: 0px 20px 20px 0px grey;
}
/*# sourceMappingURL=style.css.map */