@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700;800;900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hero {
  position: relative;
  background-image: url("../assets/images/homepage/hero-bg-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100vw;
  background-position: top;
}

@media screen and (min-width: 589px) {
  .hero {
    background-image: url("../assets/images/homepage/hero-bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1080PX) {
  .hero {
    background-image: url("../assets/images/homepage/hero-bg-desktop@2x.jpg");
  }
}

.hero__main {
  position: relative;
  top: 220px;
  color: #ffffff;
  background-color: #111111;
  padding: 12px 24px;
}

@media screen and (min-width: 450px) {
  .hero__main {
    top: 300px;
  }
}

@media screen and (min-width: 680px) {
  .hero__main {
    top: 374px;
  }
}

@media screen and (min-width: 1080px) {
  .hero__main {
    top: 0px;
    width: 50%;
    padding-top: 65px;
    padding-left: 105px;
  }
}

@media screen and (min-width: 1080px) {
  .hero__main__logo {
    margin: 0;
    display: block;
  }
}

.hero__main__btncontainer {
  padding-bottom: 145px;
}

button {
  font-size: 0.875rem;
  width: 15.3125rem;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 21px;
  background-color: inherit;
  color: #ffffff;
  border: 1px solid #ffffff;
}

@media screen and (min-width: 1080px) {
  button {
    display: block;
    margin: 0;
  }
}

.hero__main__title {
  font-size: 2rem;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -0.4px;
  margin-top: 16px;
}

@media screen and (min-width: 680px) {
  .hero__main__title {
    font-size: 3rem;
    line-height: 64px;
    letter-spacing: -0.6px;
    width: 60%;
    margin: 24px auto;
  }
}

@media screen and (min-width: 1080px) {
  .hero__main__title {
    text-align: left;
    margin: 24px 0;
  }
}

.hero__main__descr {
  font-size: 0.9375rem;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: -0.19px;
  max-width: 30rem;
  margin: 24px auto 36px;
}

@media screen and (min-width: 680px) {
  .hero__main__descr {
    font-size: 1.125rem;
    line-height: 30px;
    letter-spacing: -0.22px;
  }
}

@media screen and (min-width: 1080px) {
  .hero__main__descr {
    text-align: left;
    margin: 24px 0 36px;
  }
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 16px;
}
/*# sourceMappingURL=style.css.map */