@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700;800;900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hero {
  position: relative;
  background-image: url("../assets/images/homepage/hero-bg-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}

@media screen and (min-width: 780px) {
  .hero {
    background-image: url("../assets/images/homepage/hero-bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1080PX) {
  .hero {
    background-image: url("../assets/images/homepage/hero-bg-desktop@2x.jpg");
  }
}

.hero__main {
  position: relative;
  top: 220px;
  color: #ffffff;
  background-color: #000000;
  padding: 12px 24px;
}

@media screen and (min-width: 680px) {
  .hero__main {
    top: 380px;
  }
}

@media screen and (min-width: 1080px) {
  .hero__main {
    top: 0px;
    width: 45%;
    padding-top: 65px;
    padding-left: 125px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(55%, #000000), color-stop(50%, #111111));
    background-image: linear-gradient(to right, #000000 55%, #111111 50%);
  }
}

@media screen and (min-width: 1440px) {
  .hero__main {
    padding-left: 165px;
  }
}

@media screen and (min-width: 1080px) {
  .hero__main__logo {
    margin: 0;
    display: block;
  }
}

.hero__main__btncontainer {
  padding-bottom: 145px;
}

@media screen and (min-width: 1080px) {
  .hero__main__btncontainer {
    padding-bottom: 127px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__main__btncontainer {
    padding-bottom: 189px;
  }
}

.hero__main__title {
  font-size: 2rem;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -0.4px;
  margin-top: 16px;
}

@media screen and (min-width: 680px) {
  .hero__main__title {
    font-size: 3rem;
    line-height: 64px;
    letter-spacing: -0.6px;
    width: 60%;
    margin: 24px auto;
  }
}

@media screen and (min-width: 1080px) {
  .hero__main__title {
    text-align: left;
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .hero__main__title {
    margin: 146px 0 45px;
    width: 75%;
  }
}

.hero__main__descr {
  font-size: 0.9375rem;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: -0.19px;
  max-width: 30rem;
  margin: 24px auto 36px;
}

@media screen and (min-width: 680px) {
  .hero__main__descr {
    font-size: 1.125rem;
    line-height: 30px;
    letter-spacing: -0.22px;
  }
}

@media screen and (min-width: 1080px) {
  .hero__main__descr {
    text-align: left;
    margin: 24px 0 45px;
  }
}

.call__to__action--btn, .linkbtn {
  font-size: 0.875rem;
  width: 15.3125rem;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 21px;
  background-color: inherit;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  display: block;
  margin: auto;
}

@media screen and (min-width: 1280px) {
  .call__to__action--btn, .linkbtn {
    margin: 0;
  }
}

.linkbtn {
  text-decoration: none;
}

.linkbtn:hover {
  background-color: #ffffff;
  color: #111111;
}

@media screen and (min-width: 1080px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 110px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    padding: 0 165px;
    margin-top: -12px;
    z-index: 20;
  }
}

.cards__section {
  position: relative;
  top: 148px;
}

@media screen and (min-width: 680px) {
  .cards__section {
    top: 321px;
  }
  .cards__section::before, .cards__section::after {
    position: absolute;
    width: 49%;
    height: 320px;
    background-color: #ededed;
    content: "";
    z-index: -1;
  }
  .cards__section::before {
    left: 0;
    top: 198px;
    border-top-right-radius: 100px;
  }
  .cards__section::after {
    bottom: -112px;
    border-top-left-radius: 70px;
  }
}

@media screen and (min-width: 1080px) {
  .cards__section {
    top: -58px;
  }
  .cards__section::before {
    top: 310px;
    width: 62%;
  }
  .cards__section::after {
    bottom: 45px;
    width: 62%;
    right: 0;
  }
}

.card__main {
  position: relative;
  margin-top: 24px;
  padding: 0 9px;
  margin-bottom: 76px;
}

.card__main::before {
  position: relative;
  content: url("../assets/images/patterns/pattern-divide.svg");
  top: 21px;
}

@media screen and (min-width: 680px) {
  .card__main {
    margin-bottom: 114px;
  }
  .card__main::before {
    top: 18px;
  }
}

@media screen and (min-width: 1080px) {
  .card__main {
    padding: 0 61px;
  }
  .card__main::before {
    left: 61px;
    top: 0px;
    position: absolute;
  }
}

.card__main__title {
  padding-top: 42px;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -0.4px;
  line-height: 40px;
  margin-bottom: 20px;
}

@media screen and (min-width: 680px) {
  .card__main__title {
    margin: 10px auto 24px;
    max-width: 28rem;
    line-height: 56px;
    font-size: 2.5rem;
    letter-spacing: -0.5px;
  }
}

@media screen and (min-width: 1080px) {
  .card__main__title {
    max-width: 30rem;
  }
}

@media screen and (min-width: 1280px) {
  .card__main__title {
    margin-top: 70px;
    text-align: left;
    margin-left: 0;
    margin-top: 0px;
  }
}

.card__main__descr {
  line-height: 25px;
  letter-spacing: -0.19px;
  font-size: 0.9375rem;
  max-width: 100%;
}

@media screen and (min-width: 680px) {
  .card__main__descr {
    max-width: 24rem;
    margin: auto;
    line-height: 30px;
    letter-spacing: -0.22px;
  }
}

@media screen and (min-width: 1280px) {
  .card__main__descr {
    text-align: left;
    margin-left: 0;
  }
}

.card__img {
  -webkit-box-shadow: 0px 38px 20px 17px #ededed;
          box-shadow: 0px 38px 20px 17px #ededed;
}

.card__img img {
  max-width: 100%;
  position: relative;
}

@media screen and (min-width: 680px) {
  .card__img {
    z-index: 1;
  }
}

@media screen and (min-width: 1080px) {
  .card__img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media screen and (min-width: 680px) {
  .imageStyle {
    position: relative;
  }
  .imageStyle::before {
    top: 228px;
    position: absolute;
    right: 40px;
    content: url("../assets/images/patterns/pattern-lines.svg");
  }
}

@media screen and (min-width: 1080px) {
  .imageStyle {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1440px) {
  .imageStyle {
    margin-top: 118px;
  }
}

.menu__section {
  top: 150px;
  position: relative;
  background-color: #111111;
  color: #ffffff;
  padding: 62px 24px;
}

.menu__section::before {
  position: absolute;
  content: url("../assets/images/patterns/pattern-divide.svg");
  left: 0;
  right: 0;
}

@media screen and (min-width: 680px) {
  .menu__section {
    top: 318px;
    margin-bottom: -202px;
    padding: 62px 97px;
  }
  .menu__section::before {
    top: 25px;
  }
}

@media screen and (min-width: 1080px) {
  .menu__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 58px;
    padding: 145px 125px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1280px) {
  .menu__section {
    top: -140px;
    padding: 185px 165px 115px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
  .menu__section::before {
    left: 165px;
    right: auto;
    top: 200px;
  }
}

.menu__headings__title {
  padding-top: 42px;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -0.4px;
  line-height: 40px;
  margin-bottom: 20px;
}

@media screen and (min-width: 680px) {
  .menu__headings__title {
    margin: 10px auto 24px;
    max-width: 28rem;
    line-height: 56px;
    font-size: 2.5rem;
    letter-spacing: -0.5px;
  }
}

@media screen and (min-width: 1080px) {
  .menu__headings__title {
    max-width: 30rem;
  }
}

@media screen and (min-width: 1280px) {
  .menu__headings__title {
    margin-top: 70px;
    text-align: left;
    margin-left: 0;
    margin-top: 0px;
  }
}

@media screen and (min-width: 680px) {
  .menu__headings__title {
    margin: 15px auto 25px;
  }
}

.menu__headings__descr {
  line-height: 25px;
  letter-spacing: -0.19px;
  font-size: 0.9375rem;
}

@media screen and (min-width: 680px) {
  .menu__headings__descr {
    max-width: 24rem;
    margin: auto;
    line-height: 30px;
    letter-spacing: -0.22px;
  }
}

@media screen and (min-width: 1280px) {
  .menu__headings__descr {
    text-align: left;
    margin-left: 0;
  }
}

@media screen and (min-width: 1080px) {
  .menu__headings__descr {
    text-align: center;
    margin: auto;
  }
}

@media screen and (min-width: 1280px) {
  .menu__headings__descr {
    text-align: left;
    margin-left: 0;
  }
}

.menu__cards {
  margin-top: 60px;
}

@media screen and (min-width: 680px) {
  .menu__cards {
    margin-top: 24px;
  }
}

.menuTitle {
  font-size: 1.125rem;
}

@media screen and (min-width: 680px) {
  .menuTitle {
    margin: 2px auto 10px;
    line-height: 28px;
  }
}

@media screen and (min-width: 680px) {
  .menuDescr {
    line-height: 28px;
  }
}

.cardShadow {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cardShadow img {
  max-width: 100%;
  display: block;
  margin: auto;
}

@media screen and (min-width: 1080px) {
  .cardShadow img {
    max-width: 60%;
  }
}

.bottomBorder {
  border-bottom: 1px solid #979797;
  margin-bottom: 5px;
}

.hideBefore {
  top: -45px;
  margin-bottom: -20px;
}

.hideBefore::before {
  content: "";
}

.cardMenu {
  position: relative;
}

@media screen and (min-width: 680px) {
  .cardMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cardMenu::before {
    content: url("../assets/images/patterns/pattern-divide.svg");
    position: absolute;
    top: 45px;
    left: 90px;
    z-index: 0;
  }
}

@media screen and (min-width: 1280px) {
  .cardMenu {
    padding: 0;
  }
  .cardMenu::before {
    top: 58px;
    left: 137px;
    z-index: 0;
  }
}

.cta {
  position: relative;
  top: 236px;
}

.cta .cta__descr {
  margin-top: 35px;
}

@media screen and (min-width: 680px) {
  .cta {
    top: 584px;
    padding-top: 72px;
  }
  .cta::before {
    position: absolute;
    width: 378px;
    height: 320px;
    background-color: #ededed;
    top: -64px;
    left: 0;
    content: "";
    border-radius: 0px 50px 0 0;
  }
  .cta::after {
    position: absolute;
    top: 35px;
    left: 39px;
    content: url("../assets/images/patterns/pattern-lines.svg");
  }
}

@media screen and (min-width: 1080px) {
  .cta {
    top: 324px;
    padding: 0 130px;
  }
}

@media screen and (min-width: 1280px) {
  .cta {
    top: 126px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .cta {
    padding: 0 165px;
  }
}

.cta__descr {
  margin-top: 36px;
}

@media screen and (min-width: 1080px) {
  .cta__descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.ctaBtnSecondary {
  position: relative;
  color: #979797;
  font-size: 0.875rem;
  line-height: 28px;
  border: none;
  outline: none;
  padding: 10px;
  font-weight: 800;
}

.ctaBtnSecondary:hover {
  color: #111111;
  cursor: pointer;
}

.ctaBtnSecondary:focus {
  color: #242b37;
}

.ctaBtnSecondary:focus::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background-color: #242b37;
  top: 40px;
  left: 30%;
}

@media screen and (min-width: 1080px) {
  .ctaBtnSecondary {
    text-align: left;
  }
  .ctaBtnSecondary:focus::before {
    left: 4%;
  }
}

.cta__descr__hero__cat {
  padding: 0 12px;
}

.cta__descr__hero__cat__title {
  padding-top: 42px;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -0.4px;
  line-height: 40px;
  margin-bottom: 20px;
  padding-top: 12px;
  color: #242b37;
}

@media screen and (min-width: 680px) {
  .cta__descr__hero__cat__title {
    margin: 10px auto 24px;
    max-width: 28rem;
    line-height: 56px;
    font-size: 2.5rem;
    letter-spacing: -0.5px;
  }
}

@media screen and (min-width: 1080px) {
  .cta__descr__hero__cat__title {
    max-width: 30rem;
  }
}

@media screen and (min-width: 1280px) {
  .cta__descr__hero__cat__title {
    margin-top: 70px;
    text-align: left;
    margin-left: 0;
    margin-top: 0px;
  }
}

.cta__descr__hero__cat__summary {
  line-height: 25px;
  letter-spacing: -0.19px;
  font-size: 0.9375rem;
  color: #242b37;
}

@media screen and (min-width: 680px) {
  .cta__descr__hero__cat__summary {
    max-width: 24rem;
    margin: auto;
    line-height: 30px;
    letter-spacing: -0.22px;
  }
}

@media screen and (min-width: 1280px) {
  .cta__descr__hero__cat__summary {
    text-align: left;
    margin-left: 0;
  }
}

.ctaBtnPrimary {
  background-color: #111111;
  margin-top: 30px;
}

.ctaBtnPrimary:hover {
  background-color: #ffffff;
  color: #111111;
  border: 2px solid #111111;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .ctaBtnPrimary {
    margin-left: 12px;
  }
}

.cta__descr__hero {
  position: relative;
  padding-bottom: 50px;
}

.cta__events__img {
  position: relative;
}

@media screen and (min-width: 680px) {
  .cta__descr__list__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .cta__descr__list__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.ctaHide {
  visibility: hidden;
  position: absolute;
  top: 0;
}

.cta__img img {
  -webkit-box-shadow: 0px 20px 20px 0px grey;
          box-shadow: 0px 20px 20px 0px grey;
}

.booking {
  background-image: url("../assets/images/homepage/ready-bg-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 315px;
  padding-top: 80px;
  padding-bottom: 90px;
  margin-bottom: 315px;
}

@media screen and (min-width: 680px) {
  .booking {
    background-image: url("../assets/images/homepage/ready-bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1080px) {
  .booking {
    top: 410px;
    background-image: url("../assets/images/homepage/ready-bg-desktop@2x.jpg");
  }
}

.booking__title {
  padding-top: 42px;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -0.4px;
  line-height: 40px;
  margin-bottom: 20px;
  color: #ffffff;
  padding-top: 0px;
}

@media screen and (min-width: 680px) {
  .booking__title {
    margin: 10px auto 24px;
    max-width: 28rem;
    line-height: 56px;
    font-size: 2.5rem;
    letter-spacing: -0.5px;
  }
}

@media screen and (min-width: 1080px) {
  .booking__title {
    max-width: 30rem;
  }
}

@media screen and (min-width: 1280px) {
  .booking__title {
    margin-top: 70px;
    text-align: left;
    margin-left: 0;
    margin-top: 0px;
  }
}

@media screen and (min-width: 1080px) {
  .booking__title {
    max-width: 100%;
    text-align: center;
    margin: 120px auto 20px;
  }
}

.centerBtn {
  margin: auto;
}

.footer {
  position: relative;
  background-color: #111111;
  color: #ffffff;
  padding-top: 80px;
  padding-bottom: 60px;
}

.footer .address__list,
.footer .open__times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 680PX) {
  .footer .footer__container {
    padding: 39px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -webkit-box-align: first baseline;
        -ms-flex-align: first baseline;
            align-items: first baseline;
  }
  .footer .footer__container__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1080PX) {
  .footer {
    top: 410px;
  }
  .footer .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.contact {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.contact span {
  font-size: 0.875rem;
  line-height: 28px;
  letter-spacing: 2px;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 16px;
}

.App {
  text-align: center;
  /* overflow-x: hidden; */
}

.main__component {
  position: relative;
}

.reservation {
  position: relative;
}

.secondaryHeader {
  background-image: url("../assets/images/booking/hero-bg-mobile.jpg");
  min-height: 600px;
}

.secondaryHeader .hero__main {
  background-color: transparent;
  top: 45px;
}

.secondaryHeader .hero__main__title {
  margin-top: 25px;
}

.secondaryHeader .hero__main__descr {
  margin: 17px auto 26px;
}

@media screen and (min-width: 1080PX) {
  .secondaryHeader .hero__main {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(55%, transparent), color-stop(50%, transparent));
    background-image: linear-gradient(to right, transparent 55%, transparent 50%);
  }
  .secondaryHeader .hero__main__descr {
    margin: 24px 0 45px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
  position: relative;
  top: -136px;
  background: white;
  width: 74%;
  margin: 10px auto -74px;
  -webkit-box-shadow: 1px 1px 14px 2px gray;
          box-shadow: 1px 1px 14px 2px gray;
  border-radius: 4px;
}

.form .input__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

.form .form__inputs {
  width: 80%;
  max-width: 275px;
  margin: 5px auto;
  padding: 10px;
  border: none;
  border-bottom: 2px solid black;
}

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid black;
}

select {
  border: none;
  font-size: 1.125rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}

legend {
  margin-bottom: 14px;
}

.hours,
.minutes,
.mode {
  border-bottom: 1px solid black;
  padding: 15px 0;
  text-transform: uppercase;
}

.date__selection {
  margin-bottom: 30px;
}

.date__selection__list,
.time__selection__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.date__selection__title,
.time__selection__title {
  text-align: left;
  margin-left: 20px;
  font-size: 1.125rem;
  line-height: 28px;
  letter-spacing: -0.22px;
}

.sr__only {
  text-align: left;
  margin-left: 20px;
}

.reserve__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
  padding-bottom: 24px;
}

.count__down,
.count__up,
.counter__holder {
  background: none;
  outline: none;
  border: none;
  font-size: 1.125rem;
}

.counter__holder {
  font-weight: 800;
}
/*# sourceMappingURL=style.css.map */